@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
}

section.hero {
  background-image: url("/images/desktop/image-header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

section.hero .hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 30px 30px 0 30px;
}

section.hero .hero__nav a {
  cursor: pointer;
}

section.hero .hero__nav ul {
  display: flex;
  list-style: none;
}

section.hero .hero__nav ul li {
  margin-left: 45px;
}

section.hero .hero__nav ul li a {
  font-family: "Barlow", sans-serif;
  color: white;
  text-decoration: none;
}

section.hero .hero__nav ul li a.hero__contact-btn {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: #23303e;
  background-color: white;
  padding: 12px 20px;
  border-radius: 22px;
}

section.hero .hero__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

section.hero .hero__header h1 {
  color: white;
  font-size: 52px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 60px;
}

section.grid .grid__egg, section.grid .grid__cup {
  display: flex;
  min-width: 50%;
}

section.grid .grid__egg .grid__egg-text, section.grid .grid__egg .grid__cup-text, section.grid .grid__cup .grid__egg-text, section.grid .grid__cup .grid__cup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 98px;
}

section.grid .grid__egg .grid__egg-text h3, section.grid .grid__egg .grid__cup-text h3, section.grid .grid__cup .grid__egg-text h3, section.grid .grid__cup .grid__cup-text h3 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  margin-bottom: 30px;
  color: #23303e;
}

section.grid .grid__egg .grid__egg-text p, section.grid .grid__egg .grid__cup-text p, section.grid .grid__cup .grid__egg-text p, section.grid .grid__cup .grid__cup-text p {
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.8;
  margin-bottom: 40px;
}

section.grid .grid__egg .grid__egg-text .grid__egg-text-btn, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn {
  position: relative;
  cursor: pointer;
  color: #23303e;
  font-family: "Fraunces", serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section.grid .grid__egg .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn::before {
  content: "";
  position: absolute;
  left: -1%;
  bottom: -3px;
  width: 150px;
  height: 12px;
  border-radius: 10px;
  z-index: -1;
}

section.grid .grid__egg .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn::before {
  background: rgba(250, 212, 0, 0.3);
}

section.grid .grid__egg .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn::before {
  background: rgba(254, 120, 103, 0.3);
}

section.grid .grid__egg img, section.grid .grid__cup img {
  min-width: 50%;
}

section.grid .grid__fruits {
  display: flex;
}

section.grid .grid__fruits-cherry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

section.grid .grid__fruits-cherry h4 {
  font-family: "Fraunces", serif;
  font-size: 25px;
  padding: 350px 0 20px 0;
}

section.grid .grid__fruits-cherry p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  max-width: 380px;
  color: #5a636c;
  line-height: 1.8;
}

section.grid .grid__fruits-orange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/desktop/image-photography.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

section.grid .grid__fruits-orange h4 {
  font-family: "Fraunces", serif;
  font-size: 25px;
  padding: 350px 0 20px 0;
}

section.grid .grid__fruits-orange p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  max-width: 380px;
  color: #5a636c;
  line-height: 1.8;
}

section.clients {
  margin: 130px 0 130px 0;
}

section.clients h4 {
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #818498;
  margin-bottom: 60px;
}

section.clients .clients__profile {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 80%;
}

section.clients .clients__profile-emily, section.clients .clients__profile-thomas, section.clients .clients__profile-jennie {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.clients .clients__profile-emily img, section.clients .clients__profile-thomas img, section.clients .clients__profile-jennie img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 50px;
}

section.clients .clients__profile-emily-desc, section.clients .clients__profile-thomas-desc, section.clients .clients__profile-jennie-desc {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.8;
}

section.clients .clients__profile-emily-name, section.clients .clients__profile-thomas-name, section.clients .clients__profile-jennie-name {
  font-family: "Fraunces", serif;
  margin-bottom: 10px;
}

section.clients .clients__profile-emily-title, section.clients .clients__profile-thomas-title, section.clients .clients__profile-jennie-title {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

section.photos {
  display: flex;
  width: 100%;
  overflow-x: hidden;
}

section.photos img {
  max-width: 100%;
  height: auto;
}
