@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
}

section.hero {
  position: relative;
  background-image: url("/images/desktop/image-header.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

section.hero .hero__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 40px 30px 0 30px;
  /* Hamburger menu */
}

section.hero .hero__nav a {
  cursor: pointer;
}

section.hero .hero__nav ul {
  display: flex;
  list-style: none;
}

section.hero .hero__nav ul li {
  margin-left: 45px;
}

section.hero .hero__nav ul li a {
  font-family: "Barlow", sans-serif;
  color: white;
  text-decoration: none;
}

section.hero .hero__nav ul li a.hero__contact-btn {
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: #23303e;
  background-color: white;
  padding: 12px 20px;
  border-radius: 22px;
}

section.hero .hero__nav .ham-menu-icon {
  display: none;
}

section.hero .hero__nav .nav-overlay {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 85vw;
  top: 17vh;
  right: 6vw;
  z-index: 100;
}

section.hero .hero__nav .nav-overlay .overlay-content {
  position: relative;
  font-family: "Barlow", sans-serif;
  text-align: center;
  margin: 40px 0;
  font-size: 18px;
}

section.hero .hero__nav .nav-overlay .overlay-content a {
  display: block;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
  color: #818498;
  margin: 20px 0;
  letter-spacing: 0.5px;
}

section.hero .hero__nav .nav-overlay .overlay-content a.hero__contact-btn {
  font-family: "Fraunces", serif;
  color: #23303e;
  background-color: #fad400;
  width: 150px;
  margin: 0 auto;
  padding: 16px 20px;
  border-radius: 30px;
  text-transform: uppercase;
}

section.hero .hero__nav .nav-overlay .overlay-content::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: -43%;
  right: 0;
  border-left: 30px solid transparent;
  border-top: 30px solid transparent;
  border-bottom: 30px solid white;
}

section.hero .hero__header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20vh;
}

section.hero .hero__header h1 {
  color: white;
  font-size: 52px;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 60px;
}

section.grid .grid__egg, section.grid .grid__cup {
  display: flex;
}

section.grid .grid__egg .grid__egg-text, section.grid .grid__egg .grid__cup-text, section.grid .grid__cup .grid__egg-text, section.grid .grid__cup .grid__cup-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 98px;
}

section.grid .grid__egg .grid__egg-text h3, section.grid .grid__egg .grid__cup-text h3, section.grid .grid__cup .grid__egg-text h3, section.grid .grid__cup .grid__cup-text h3 {
  font-family: "Fraunces", serif;
  font-size: 40px;
  margin-bottom: 30px;
  color: #23303e;
}

section.grid .grid__egg .grid__egg-text p, section.grid .grid__egg .grid__cup-text p, section.grid .grid__cup .grid__egg-text p, section.grid .grid__cup .grid__cup-text p {
  font-family: "Barlow", sans-serif;
  color: #818498;
  line-height: 1.8;
  margin-bottom: 40px;
}

section.grid .grid__egg .grid__egg-text .grid__egg-text-btn, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn {
  position: relative;
  cursor: pointer;
  color: #23303e;
  font-family: "Fraunces", serif;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1px;
}

section.grid .grid__egg .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn::before {
  content: "";
  position: absolute;
  left: -1%;
  bottom: -3px;
  width: 150px;
  height: 12px;
  border-radius: 10px;
  z-index: -1;
}

section.grid .grid__egg .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn::before {
  background: rgba(250, 212, 0, 0.3);
}

section.grid .grid__egg .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn::before {
  background: rgba(254, 120, 103, 0.3);
}

section.grid .grid__egg img, section.grid .grid__cup img {
  min-width: 50%;
}

section.grid .grid__fruits {
  display: flex;
}

section.grid .grid__fruits-cherry {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/desktop/image-graphic-design.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

section.grid .grid__fruits-cherry h4 {
  font-family: "Fraunces", serif;
  font-size: 25px;
  padding: 350px 0 20px 0;
}

section.grid .grid__fruits-cherry p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  max-width: 380px;
  color: #5a636c;
  line-height: 1.8;
}

section.grid .grid__fruits-orange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("/images/desktop/image-photography.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

section.grid .grid__fruits-orange h4 {
  font-family: "Fraunces", serif;
  font-size: 25px;
  padding: 350px 0 20px 0;
}

section.grid .grid__fruits-orange p {
  font-family: "Barlow", sans-serif;
  text-align: center;
  max-width: 380px;
  color: #5a636c;
  line-height: 1.8;
}

section.clients {
  margin: 130px 0 130px 0;
}

section.clients h4 {
  font-family: "Fraunces", serif;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #818498;
  margin-bottom: 60px;
}

section.clients .clients__profile {
  display: flex;
  gap: 30px;
  margin: 0 auto;
  width: 80%;
}

section.clients .clients__profile-emily, section.clients .clients__profile-thomas, section.clients .clients__profile-jennie {
  display: flex;
  align-items: center;
  flex-direction: column;
}

section.clients .clients__profile-emily img, section.clients .clients__profile-thomas img, section.clients .clients__profile-jennie img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  margin-bottom: 50px;
}

section.clients .clients__profile-emily-desc, section.clients .clients__profile-thomas-desc, section.clients .clients__profile-jennie-desc {
  font-family: "Barlow", sans-serif;
  color: #5a636c;
  margin-bottom: 50px;
  text-align: center;
  line-height: 1.8;
}

section.clients .clients__profile-emily-name, section.clients .clients__profile-thomas-name, section.clients .clients__profile-jennie-name {
  font-family: "Fraunces", serif;
  margin-bottom: 10px;
}

section.clients .clients__profile-emily-title, section.clients .clients__profile-thomas-title, section.clients .clients__profile-jennie-title {
  font-family: "Barlow", sans-serif;
  color: #a7abae;
}

section.photos {
  display: flex;
}

section.photos img {
  max-width: 100%;
  height: 100%;
}

footer.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #458c7e;
}

footer.footer .footer__wrapper .footer__wrapper-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer.footer .footer__wrapper .footer__wrapper-content svg {
  margin: 50px 0 20px 0;
}

footer.footer .footer__wrapper .footer__wrapper-content ul {
  display: flex;
  gap: 25px;
  list-style: none;
}

footer.footer .footer__wrapper .footer__wrapper-content ul li a {
  font-family: "Barlow", sans-serif;
  color: #25564b;
  text-decoration: none;
}

footer.footer .footer__wrapper .footer__wrapper-content ul.socials {
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  section.grid .grid__egg .grid__egg-text, section.grid .grid__egg .grid__cup-text, section.grid .grid__cup .grid__egg-text, section.grid .grid__cup .grid__cup-text {
    padding: 0 78px;
  }
  section.grid .grid__egg .grid__egg-text h3, section.grid .grid__egg .grid__cup-text h3, section.grid .grid__cup .grid__egg-text h3, section.grid .grid__cup .grid__cup-text h3 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  section.grid .grid__egg .grid__egg-text p, section.grid .grid__egg .grid__cup-text p, section.grid .grid__cup .grid__egg-text p, section.grid .grid__cup .grid__cup-text p {
    line-height: 1.8;
    margin-bottom: 40px;
  }
  section.grid .grid__egg img, section.grid .grid__cup img {
    min-width: 50%;
  }
}

@media (max-width: 768px) {
  section.hero .hero__header {
    margin-top: 20vh;
  }
  section.hero .hero__header h1 {
    font-size: 45px;
    letter-spacing: 8px;
    margin-bottom: 60px;
  }
  section.grid .grid__egg .grid__egg-text, section.grid .grid__egg .grid__cup-text, section.grid .grid__cup .grid__egg-text, section.grid .grid__cup .grid__cup-text {
    padding: 0 58px;
  }
  section.grid .grid__egg .grid__egg-text h3, section.grid .grid__egg .grid__cup-text h3, section.grid .grid__cup .grid__egg-text h3, section.grid .grid__cup .grid__cup-text h3 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  section.grid .grid__egg .grid__egg-text p, section.grid .grid__egg .grid__cup-text p, section.grid .grid__cup .grid__egg-text p, section.grid .grid__cup .grid__cup-text p {
    font-size: 13px;
    margin-bottom: 40px;
  }
  section.grid .grid__egg .grid__egg-text .grid__egg-text-btn, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn {
    font-size: 13px;
  }
  section.grid .grid__egg .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn::before {
    left: -1%;
    bottom: -3px;
    width: 108px;
    height: 9px;
  }
  section.grid .grid__egg img, section.grid .grid__cup img {
    min-width: 50%;
  }
  section.grid .grid__fruits-cherry {
    width: 100%;
    height: 320px;
  }
  section.grid .grid__fruits-cherry h4 {
    font-size: 20px;
    padding: 170px 0 17px 0;
  }
  section.grid .grid__fruits-cherry p {
    font-size: 13px;
    max-width: 280px;
  }
  section.grid .grid__fruits-orange {
    width: 100%;
    height: 320px;
  }
  section.grid .grid__fruits-orange h4 {
    font-size: 20px;
    padding: 170px 0 17px 0;
  }
  section.grid .grid__fruits-orange p {
    font-size: 13px;
    max-width: 280px;
  }
  section.clients {
    margin: 130px 0 130px 0;
  }
  section.clients .clients__profile {
    gap: 30px;
    margin: 0 auto;
    width: 80%;
  }
  section.clients .clients__profile-emily img, section.clients .clients__profile-thomas img, section.clients .clients__profile-jennie img {
    margin-bottom: 40px;
  }
  section.clients .clients__profile-emily-desc, section.clients .clients__profile-thomas-desc, section.clients .clients__profile-jennie-desc {
    font-size: 13px;
    margin-bottom: 50px;
  }
  section.clients .clients__profile-emily-name, section.clients .clients__profile-thomas-name, section.clients .clients__profile-jennie-name {
    font-size: 13px;
    margin-bottom: 10px;
  }
  section.clients .clients__profile-emily-title, section.clients .clients__profile-thomas-title, section.clients .clients__profile-jennie-title {
    font-size: 13px;
  }
}

@media (max-width: 700px) {
  section.hero .hero__nav ul {
    display: none;
  }
  section.hero .hero__nav .ham-menu-icon {
    display: block;
    cursor: pointer;
  }
  section.grid .grid__egg .grid__egg-text, section.grid .grid__egg .grid__cup-text, section.grid .grid__cup .grid__egg-text, section.grid .grid__cup .grid__cup-text {
    padding: 0 48px;
  }
  section.grid .grid__egg .grid__egg-text h3, section.grid .grid__egg .grid__cup-text h3, section.grid .grid__cup .grid__egg-text h3, section.grid .grid__cup .grid__cup-text h3 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  section.grid .grid__egg .grid__egg-text p, section.grid .grid__egg .grid__cup-text p, section.grid .grid__cup .grid__egg-text p, section.grid .grid__cup .grid__cup-text p {
    font-size: 13px;
    margin-bottom: 25px;
  }
  section.grid .grid__egg .grid__egg-text .grid__egg-text-btn, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn {
    font-size: 13px;
  }
  section.grid .grid__egg .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__egg .grid__cup-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__egg-text .grid__cup-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__egg-text-btn::before, section.grid .grid__cup .grid__cup-text .grid__cup-text-btn::before {
    left: -1%;
    bottom: -3px;
    width: 100px;
    height: 9px;
  }
  section.grid .grid__egg img, section.grid .grid__cup img {
    min-width: 50%;
  }
}
