@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');


// Primary colors
$soft-red: hsl(7, 99%, 70%);
$yellow: hsl(51, 100%, 49%);
$dark-desaturated-cyan-graphic-design-text: hsl(167, 40%, 24%);
$dark-blue-photography-text: hsl(198, 62%, 26%);
$dark-moderate-cyan-footer: hsl(168, 34%, 41%);

// Neutral colors
$very-dark-desaturated-blue: hsl(212, 27%, 19%);
$very-dark-grayish-blue: hsl(213, 9%, 39%);
$dark-grayish-blue: hsl(232, 10%, 55%);
$grayish-blue: hsl(210, 4%, 67%);
$white: hsl(0, 0%, 100%);

// Fonts
$font-barlow: 'Barlow', sans-serif;
$font-fraunces: 'Fraunces', serif;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
}

// Hero section styles
section.hero {
    position: relative;
    background-image: url("../images/desktop/image-header.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;

    .hero__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: 0 auto;
        padding: 40px 30px 0 30px;
        
        a {
            cursor: pointer;
        }

        ul {
            display: flex;
            list-style: none;
            
            li {
                margin-left: 45px;
                
                a {
                    font-family: $font-barlow;
                    color: $white;
                    text-decoration: none;
                }

                a.hero__contact-btn {
                    font-family: $font-fraunces;
                    text-transform: uppercase;
                    color: $very-dark-desaturated-blue;
                    background-color: $white;
                    padding: 12px 20px;
                    border-radius: 22px;
                }

                a.hero__contact-btn:hover {
                    color: $white;
                    background-color: rgba($white, 0.3);
                    padding: 12px 20px;
                    border-radius: 22px;
                }
            }
        }

        /* Hamburger menu */
        .ham-menu-icon {
            display: none;
        }
        
        .nav-overlay {
            display: none;
            position: absolute;
            background-color: $white;
            min-width: 85vw;
            top: 20vh;
            right: 6vw;
            z-index: 100;
            
            .overlay-content {
                position: relative;
                font-family: $font-barlow;
                text-align: center;
                margin: 40px 0;
                font-size: 18px;
                
                a {
                    display: block;
                    padding: 8px;
                    text-decoration: none;
                    cursor: pointer;
                    color: $dark-grayish-blue;
                    margin: 20px 0;
                    letter-spacing: 0.5px;
                }

                a.hero__contact-btn {
                    font-family: $font-fraunces;
                    color: $very-dark-desaturated-blue;
                    background-color: $yellow;
                    width: 150px;
                    margin: 0 auto;
                    padding: 16px 20px;
                    border-radius: 30px;
                    text-transform: uppercase;
                }
            }

            .overlay-content::before {
                content: "";
                position: absolute;
                top: -43%;
                right: 0;
                border-left: 30px solid transparent;
                border-top: 30px solid transparent;
                border-bottom: 30px solid $white;
            }
        }
    }

    .hero__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 20vh;

        h1 {
            color: $white;
            font-size: 52px;
            font-family: $font-fraunces;
            text-transform: uppercase;
            letter-spacing: 8px;
            margin-bottom: 60px;
        }
    }
}

// Grid section styles
section.grid {
    .grid__egg, .grid__cup {
        display: flex;

        .grid__egg-text, .grid__cup-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 98px;

            h3 {
                font-family: $font-fraunces;
                font-size: 40px;
                margin-bottom: 30px;
                color: $very-dark-desaturated-blue;
            }
            
            p {
                font-family: $font-barlow;
                color: $dark-grayish-blue;
                line-height: 1.8;
                margin-bottom: 40px;
            }
            
            .grid__egg-text-btn, .grid__cup-text-btn {
                position: relative;
                cursor: pointer;
                color: $very-dark-desaturated-blue;
                font-family: $font-fraunces;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 1px;
            }

            .grid__egg-text-btn::before, .grid__cup-text-btn::before {
                content: "";
                position: absolute;
                left: -1%;
                bottom: -3px;
                width: 150px;
                height: 12px;
                border-radius: 10px;
                z-index: -1;
            }
            
            .grid__egg-text-btn::before {
                background: hsla(51, 100%, 49%, 0.3);
            }
            
            .grid__egg-text-btn:hover::before {
                background: hsla(51, 100%, 49%, 1);
            }

            .grid__cup-text-btn::before {
                background: hsla(7, 99%, 70%, 0.3);
            }

            .grid__cup-text-btn:hover::before {
                background: hsla(7, 99%, 70%, 1);
            }
        }

        img {
            min-width: 50%;
        }
    }

    .grid__fruits {
        display: flex;

        &-cherry {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../images/desktop/image-graphic-design.jpg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 600px;

            h4 {
                font-family: $font-fraunces;
                font-size: 25px;
                padding: 350px 0 20px 0;
            }

            p {
                font-family: $font-barlow;
                text-align: center;
                max-width: 380px;
                color: $very-dark-grayish-blue;
                line-height: 1.8;
            }
        }
        
        &-orange {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-image: url("../images/desktop/image-photography.jpg");
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 100%;
            height: 600px;

            h4 {
                font-family: $font-fraunces;
                font-size: 25px;
                padding: 350px 0 20px 0;
            }

            p {
                font-family: $font-barlow;
                text-align: center;
                max-width: 380px;
                color: $very-dark-grayish-blue;
                line-height: 1.8;
            }
        }
    }
}

// Clients section styles
section.clients {
    margin: 130px 0 130px 0;
    
    h4 {
        font-family: $font-fraunces;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: $dark-grayish-blue;
        margin-bottom: 60px;
    }
    
    .clients__profile {
        display: flex;
        gap: 30px;
        margin: 0 auto;
        width: 80%;
        
        &-emily, &-thomas, &-jennie {
            display: flex;
            align-items: center;
            flex-direction: column;

            img {
                border-radius: 50%;
                width: 75px;
                height: 75px;
                margin-bottom: 50px;
            }

            &-desc {
                font-family: $font-barlow;
                color: $very-dark-grayish-blue;
                margin-bottom: 50px;
                text-align: center;
                line-height: 1.8;
            }

            &-name {
                font-family: $font-fraunces;
                margin-bottom: 10px;
            }

            &-title {
                font-family: $font-barlow;
                color: $grayish-blue;
            }
        }
    }
}

// Photos section styles
section.photos {
    display: flex;

    img {
        max-width: 100%;
        height: 100%;
    }

}

// Footer section styles
footer.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #91D3C5;

    .footer__wrapper {

        .footer__wrapper-content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            svg {
                margin: 90px 0 20px 0;
            }

            ul {
                display: flex;
                gap: 25px;
                list-style: none;
    
                li {

                    a {
                        font-family: $font-barlow;
                        color: $dark-desaturated-cyan-graphic-design-text;
                        text-decoration: none;
                    }

                    a:hover {
                        color: $white;
                    }
                }
            }

            ul.socials {
                margin-bottom: 30px;

                li {
                    a {
                        svg:hover path {
                            fill: $white;
                        }
                    }
                }
            }
        }
    }
}

// Media queries
@media (max-width: 1024px) {
    section.grid {
        .grid__egg, .grid__cup {
    
            .grid__egg-text, .grid__cup-text {
                padding: 0 78px;
    
                h3 {
                    font-size: 38px;
                    margin-bottom: 30px;
                }
                
                p {
                    line-height: 1.8;
                    margin-bottom: 40px;
                }
            }
    
            img {
                min-width: 50%;
            }
        }
    }
}

@media (max-width: 768px) {
    section.hero {
        .hero__header {
            margin-top: 20vh;
    
            h1 {
                font-size: 45px;
                letter-spacing: 8px;
                margin-bottom: 60px;
            }
        }
    }

    section.grid {
        .grid__egg, .grid__cup {
    
            .grid__egg-text, .grid__cup-text {
                padding: 0 58px;
    
                h3 {
                    font-size: 28px;
                    margin-bottom: 20px;
                }
                
                p {
                    font-size: 13px;
                    margin-bottom: 40px;
                }

                .grid__egg-text-btn, .grid__cup-text-btn {
                    font-size: 13px;
                }
    
                .grid__egg-text-btn::before, .grid__cup-text-btn::before {
                    left: -1%;
                    bottom: -3px;
                    width: 108px;
                    height: 9px;
                }
            }
    
            img {
                min-width: 50%;
            }
        }

        .grid__fruits {
            &-cherry {
                width: 100%;
                height: 320px;
    
                h4 {
                    font-size: 20px;
                    padding: 170px 0 17px 0;
                }
    
                p {
                    font-size: 13px;
                    max-width: 280px;
                }
            }
            
            &-orange {
                width: 100%;
                height: 320px;
    
                h4 {
                    font-size: 20px;
                    padding: 170px 0 17px 0;
                }
    
                p {
                    font-size: 13px;
                    max-width: 280px;
                }
            }
        }
    }

    section.clients {
        margin: 130px 0 130px 0;
        
        .clients__profile {
            gap: 30px;
            margin: 0 auto;
            width: 80%;
            
            &-emily, &-thomas, &-jennie {
    
                img {
                    margin-bottom: 40px;
                }
    
                &-desc {
                    font-size: 13px;
                    margin-bottom: 50px;
                }
    
                &-name {
                    font-size: 13px;
                    margin-bottom: 10px;
                }
    
                &-title {
                    font-size: 13px;
                }
            }
        }
    }

}

@media (max-width: 700px) {
    section.hero {
        .hero__nav {
            ul {
                display: none;
            }

            .ham-menu-icon {
                display: block;
                cursor: pointer;
            }
        }

        .hero__header {
    
            h1 {
                font-size: 38px;
            }
        }
    }

    section.grid {
        .grid__egg, .grid__cup {
    
            .grid__egg-text, .grid__cup-text {
                padding: 0 38px;
    
                h3 {
                    font-size: 22px;
                    margin-bottom: 15px;
                }
                
                p {
                    font-size: 13px;
                    margin-bottom: 20px;
                }

                .grid__egg-text-btn, .grid__cup-text-btn {
                    font-size: 13px;
                }
    
                .grid__egg-text-btn::before, .grid__cup-text-btn::before {
                    left: -1%;
                    bottom: -3px;
                    width: 100px;
                    height: 9px;
                }
            }
    
            img {
                min-width: 50%;
            }
        }
    }
}

@media (max-width: 600px) {
    section.hero {
        .hero__header {
            margin-top: 15vh;
            
            h1 {
                font-size: 38px;
                text-align: center;
            }
        }
    }
    section.grid {
        .grid__egg, .grid__cup  {
            display: flex;
            flex-direction: column-reverse;
            margin-bottom: 40px;
    
            .grid__egg-text, .grid__cup-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                padding: 0 50px;
    
                h3 {
                    font-size: 30px;
                    margin-top: 40px;
                    margin-bottom: 15px;
                }
                
                p {
                    line-height: 1.8;
                    margin-bottom: 20px;
                }
    
                .grid__egg-text-btn::before, .grid__cup-text-btn::before {
                    content: "";
                    position: absolute;
                    left: -1%;
                    bottom: -3px;
                    width: 110px;
                    height: 12px;
                    border-radius: 10px;
                    z-index: -1;
                }
                
            }
    
            img {
                min-width: 50%;
            }
        }

        .grid__cup {
            display: flex;
            flex-direction: column;
        }
    
        .grid__fruits {
            display: flex;
            flex-direction: column;
    
            &-cherry {
                width: 100%;
                height: 500px;
    
                h4 {
                    font-family: $font-fraunces;
                    font-size: 25px;
                    padding: 250px 0 20px 0;
                }
    
                p {
                    max-width: 380px;
                }
            }
            
            &-orange {
                width: 100%;
                height: 500px;
    
                h4 {
                    font-family: $font-fraunces;
                    font-size: 25px;
                    padding: 250px 0 20px 0;
                }
    
                p {
                    max-width: 380px;
                }
            }
        }
    }

    section.clients {
        margin: 60px 0 130px 0;
        
        h4 {
            margin-bottom: 60px;
        }
        
        .clients__profile {
            display: flex;
            flex-direction: column;
            gap: 30px;
            margin: 0 auto;
            width: 80%;
            
            &-emily, &-thomas, &-jennie {
                display: flex;
                align-items: center;
                flex-direction: column;
    
                img {
                    margin-bottom: 30px;
                }
    
                &-desc {
                    margin-bottom: 30px;
                }
    
                &-name {
                    margin-bottom: 10px;
                }
    
                &-title {
                    margin-bottom: 30px;
                }
            }
        }
    }

    section.photos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    
        img {
            max-width: 100%;
            height: 100%;
        }
    
    }
}
